--extra-index-url https://pypi.nvidia.com
scvi-tools[cuda]==1.3.3
jupyterlab==4.4.9
matplotlib==3.10.6
scipy==1.15.3
plotnine==0.15.0
scanpy==1.11.4
anndata==0.11.4
igraph==0.11.9
leidenalg==0.10.2
seaborn==0.13.2
scikit-image==0.25.2
scikit-misc==0.5.2
diffrax==0.7.0
pytest==8.4.2
black==24.10.0
plotly==6.3.1
optuna==4.5.0
ott-jax==0.6.0
cobra==0.30.0
cudf-cu12==25.12.*
dask-cudf-cu12==25.12.*
cuml-cu12==25.12.*
cugraph-cu12==25.12.*
nx-cugraph-cu12==25.12.*
cuxfilter-cu12==25.12.*
cucim-cu12==25.12.*
pylibraft-cu12==25.12.*
raft-dask-cu12==25.12.*
cuvs-cu12==25.12.*
snakemake
